@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply  bg-primaryLight dark:text-white text-xl leading-8 font-primary text-black;
  }

  h1 {
    @apply text-[1.75rem] leading-[2.25rem] md:text-4xl lg:text-5xl xl:text-[4rem] xl:leading-[4.25rem] font-light;
  }

  h2 {
    @apply text-2xl leading-8 md:text-[2.5rem] md:leading-[3.75rem] font-light;

  }
  h3 {
    @apply text-xl leading-8 md:text-4xl md:leading-[3.75rem] font-light;
  }
  h4 {
    @apply text-[1.75rem] leading-[2.25rem] font-normal;
    ;
  }
  h5 {
    @apply text-xl leading-8 font-light;
  }

  p {
    @apply text-sm font-light leading-6 text-black;
  }

  a {
    @apply  hover:text-secondaryAccent;
  }
  button {
    @apply mx-auto px-6 py-2  bg-primaryAccent hover:bg-secondaryLight text-primaryLight hover:text-primaryAccent rounded-lg;
  }

  ul {
    @apply list-disc list-outside align-middle;
  }

  li {
    @apply list-image-check mb-2 text-sm items-center  
  }
   
  input {
    @apply text-black bg-primaryLight border-primaryAccent border-2 rounded-lg p-2 placeholder:text-primaryDark placeholder:italic placeholder:font-extralight;
  }

  textarea {
    @apply text-black bg-primaryLight border-primaryAccent border-2 rounded-lg p-2  placeholder:text-primaryDark placeholder:italic placeholder:font-extralight;
  }
  
 /*
  header {
    @apply container;
  }

  section {
    @apply container;
  }

  footer {
    @apply container;
  } */


}

.body-large {
  @apply text-base leading-6 font-light;

}

.body-medium {
  @apply text-sm leading-6 font-light;
}

.body-medium.bold {
  @apply font-normal;
}

.body-small {
  @apply text-[10px] font-light leading-4;
}

.body-small.bold {
  @apply font-semibold;
}

.body-inline {
  @apply text-[12px] uppercase leading-4 font-normal font-primary;
}


.form-label {
    @apply text-lg dark:text-primaryAccent text-primaryDark mb-4 capitalize font-semibold;
} 

.btn-carousel {
  @apply bg-tertiaryAccent hover:bg-secondaryDark text-white border border-tertiaryAccent rounded-lg px-2 py-4 capitalize;
}

.site-container {
  @apply container mx-auto p-4;
}

.theme-dark {
  @apply bg-primaryDark text-white;
}

.theme-dark-2 {
  @apply bg-secondaryDark text-white;
}

.theme-light {
  @apply bg-primaryLight text-black;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  @apply bg-secondaryAccent;
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
  margin: 0;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  margin: 0;
}

.hamburger-submenu {
background-image: url('/images/down-carat.svg');  
}

.hamburger-submenu-open {
  transform: rotate(90deg);
}

.hamburger-row {
  @apply bg-nav1;
}

.open .hamburger-row {
  @apply bg-nav1 text-blue-500;
}

.hamburger-level1 {
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
visibility: inherit;
list-style: none;
background: transparent;
border: 0;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
cursor: pointer;
text-decoration: none;
bottom: 0;
display: inline;
font: var(--fnt,var(--font_1));
left: 0;
line-height: 44px;
overflow: hidden;
position: absolute;
right: 0;
text-overflow: ellipsis;
top: 0;
}


/* SOCIAL ICONS */
.social-icon {
  @apply bg-no-repeat bg-center bg-contain text-primaryAccent;
}

.social-icon-fb {
  background-image: url('/images/social-icons/icon-fb.svg');
}

.social-icon-linkedin {
  background-image: url('/images/social-icons/icon-li.svg');
}

.social-icon-twitter {
  background-image: url('/images/social-icons/icon-twitter.svg');
}

.social-icon-x {
  background-image: url('/images/social-icons/icon-twitter.svg');
}

.social-icon-instagram {
  background-image: url('/images/social-icons/icon-instagram.svg');
}

.social-icon-youtube {
  background-image: url('/images/social-icons/icon-youtube.svg');
}

.social-icon-threads {
  background-image: url('/images/social-icons/icon-threads.svg');
}

.social-icon-tiktok {
  background-image: url('/images/icon-tiktok.svg');
}